<rd-header>
  <rd-header-title title="服务详情">
    <a data-toggle="tooltip" title="刷新" ui-sref="service({id: service.Id})" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="services">服务</a> &gt; <a ui-sref="service({id: service.Id})">{{ service.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div ng-if="isUpdating" class="col-lg-12 col-md-12 col-xs-12">
    <div class="alert alert-info" role="alert" id="service-update-alert">
      <p>服务正在更新. 正在编辑的服务不可用</p>
      <a ui-sref="service({id: service.Id}, {reload: true})">服务更新完后，刷新查看.</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 col-md-9 col-xs-9">
    <rd-widget>
      <rd-widget-header icon="fa-list-alt" title="服务详情"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>Name</td>
              <td ng-if="applicationState.endpoint.apiVersion <= 1.24">
                <input type="text" class="form-control" ng-model="service.Name" ng-change="updateServiceAttribute(service, 'Name')" ng-disabled="isUpdating">
              </td>
              <td ng-if="applicationState.endpoint.apiVersion >= 1.25">
                {{ service.Name }}
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td>
                {{ service.Id }}
                <button class="btn btn-xs btn-danger" ng-click="removeService()"><i class="fa fa-trash space-right" aria-hidden="true" ng-disabled="isUpdating"></i>Delete this service</button>
              </td>
            </tr>
            <tr ng-if="service.CreatedAt">
              <td>创建时间</td>
              <td>{{ service.CreatedAt|getisodate}}</td>
            </tr>
            <tr ng-if="service.UpdatedAt">
              <td>最近更新时间</td>
              <td>{{ service.UpdatedAt|getisodate }}</td>
            </tr>
            <tr ng-if="service.Version">
              <td>版本</td>
              <td>{{ service.Version }}</td>
            </tr>
            <tr>
              <td>调度模式</td>
              <td>{{ service.Mode }}</td>
            </tr>
            <tr ng-if="service.Mode === 'replicated'">
              <td>副本数</td>
              <td>
                <span ng-if="service.Mode === 'replicated'">
                  <input class="input-sm" type="number" ng-model="service.Replicas" ng-change="updateServiceAttribute(service, 'Replicas')" ng-disabled="isUpdating" />
                </span>
              </td>
            </tr>
            <tr>
              <td>镜像</td>
              <td>
                <input type="text" class="form-control" ng-model="service.Image" ng-change="updateServiceAttribute(service, 'Image')" ng-disabled="isUpdating" />
              </td>
            </tr>
            <tr ng-if="applicationState.endpoint.apiVersion >= 1.30">
              <td colspan="2">
                <div class="btn-group" role="group" aria-label="...">
                  <a class="btn btn-outline-secondary" type="button" ui-sref="servicelogs({id: service.Id})"><i class="fa fa-exclamation-circle space-right" aria-hidden="true"></i>日志</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
      <rd-widget-footer>
        <p class="small text-muted">
          Docker Service文档 <a href="https://docs.docker.com/engine/reference/commandline/service_update/" target="self">点这里</a>.
        </p>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" ng-disabled="!hasChanges(service, ['Mode', 'Replicas', 'Image', 'Name'])" ng-click="updateService(service)">应用变更</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="cancelChanges(service, ['Mode', 'Replicas', 'Image', 'Name'])">重置</a></li>
              <li><a ng-click="cancelChanges(service)">重置所有变化</a></li>
            </ul>
          </div>
        </div>
      </rd-widget-footer>
    </rd-widget>
  </div>

  <div class="col-lg-3 col-md-3 col-xs-3">
    <rd-widget>
      <rd-widget-header icon="fa-bars" title="Quick navigation"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li><a href ng-click="goToItem('service-env-variables')">环境变量</a></li>
          <li><a href ng-click="goToItem('service-container-labels')">容器标签</a></li>
          <li><a href ng-click="goToItem('service-mounts')">挂载</a></li>
          <li><a href ng-click="goToItem('service-network-specs')">网络 &amp; 发布端口</a></li>
          <li><a href ng-click="goToItem('service-resources')">资源限制和保留</a></li>
          <li><a href ng-click="goToItem('service-placement-constraints')">布局约束</a></li>
          <li ng-if="applicationState.endpoint.apiVersion >= 1.30"><a href ng-click="goToItem('service-placement-preferences')">布局引用</a></li>
          <li><a href ng-click="goToItem('service-restart-policy')">重启策略</a></li>
          <li><a href ng-click="goToItem('service-update-config')">更新配置</a></li>
          <li><a href ng-click="goToItem('service-labels')"></a>服务标签</li>
          <li ng-if="applicationState.endpoint.apiVersion >= 1.25"><a href ng-click="goToItem('service-secrets')">安全</a></li>
          <li><a href ng-click="goToItem('service-tasks')">任务</a></li>
        </ul>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<!-- access-control-panel -->
<por-access-control-panel
  ng-if="service && applicationState.application.authentication"
  resource-id="service.Id"
  resource-control="service.ResourceControl"
  resource-type="'service'">
</por-access-control-panel>
<!-- !access-control-panel -->

<div class="row">
  <hr>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="container-specs">容器详述</h3>
    <div id="service-container-spec" class="padding-top" ng-include="'app/components/service/includes/container-specs.html'"></div>
    <div id="service-env-variables" class="padding-top" ng-include="'app/components/service/includes/environmentvariables.html'"></div>
    <div id="service-container-labels" class="padding-top" ng-include="'app/components/service/includes/containerlabels.html'"></div>
    <div id="service-mounts" class="padding-top" ng-include="'app/components/service/includes/mounts.html'"></div>
  </div>
</div>

<div class="row">
  <hr>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="service-network-specs">网络&端口</h3>
    <div id="service-networks" class="padding-top" ng-include="'app/components/service/includes/networks.html'"></div>
    <div id="service-published-ports" class="padding-top" ng-include="'app/components/service/includes/ports.html'"></div>
  </div>
</div>

<div class="row">
  <hr>
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="service-specs">服务详述</h3>
    <div id="service-resources" class="padding-top" ng-include="'app/components/service/includes/resources.html'"></div>
    <div id="service-placement-constraints" class="padding-top" ng-include="'app/components/service/includes/constraints.html'"></div>
    <div id="service-placement-preferences" ng-if="applicationState.endpoint.apiVersion >= 1.30" class="padding-top" ng-include="'app/components/service/includes/placementPreferences.html'"></div>
    <div id="service-restart-policy" class="padding-top" ng-include="'app/components/service/includes/restart.html'"></div>
    <div id="service-update-config" class="padding-top" ng-include="'app/components/service/includes/updateconfig.html'"></div>
    <div id="service-labels" class="padding-top" ng-include="'app/components/service/includes/servicelabels.html'"></div>
    <div id="service-secrets" ng-if="applicationState.endpoint.apiVersion >= 1.25" class="padding-top" ng-include="'app/components/service/includes/secrets.html'"></div>
    <div id="service-tasks" class="padding-top" ng-include="'app/components/service/includes/tasks.html'"></div>
  </div>
</div>
