<div class="row">
  <div class="col-sm-12" ng-if="$ctrl.state.displayAccessControlPanel">
    <rd-widget>
      <rd-widget-header icon="fa-eye" title="访问控制"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <!-- ownership -->
            <tr>
              <td>所有者的身份</td>
              <td>
                <i ng-class="$ctrl.resourceControl.Ownership | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                <span ng-if="!$ctrl.resourceControl">
                  public
                  <portainer-tooltip message="这种资源可以被任何访问该终端用户管理." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                </span>
                <span ng-if="$ctrl.resourceControl">
                  {{ $ctrl.resourceControl.Ownership }}
                  <portainer-tooltip ng-if="$ctrl.resourceControl.Ownership === 'administrators'" message="这种资源只能由管理员." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                  <portainer-tooltip ng-if="$ctrl.resourceControl.Ownership === 'private'" message="本资源管理被限制到一个单一的用户." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                  <portainer-tooltip ng-if="$ctrl.resourceControl.Ownership === 'restricted'" message="此资源可以由一组受限制的用户和/或团队来管理。." position="bottom" style="margin-left: -3px;"></portainer-tooltip>
                </span>
              </td>
            </tr>
            <!-- !ownership -->
            <tr ng-if="$ctrl.resourceControl.Type === 2 && $ctrl.resourceType === 'container'">
              <td colspan="2">
                <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 2px;"></i>
                此资源的访问控制是从以下服务继承的: <a ui-sref="service({ id: $ctrl.resourceControl.ResourceId })">{{ $ctrl.resourceControl.ResourceId | truncate }}</a>
                <portainer-tooltip message="应用于服务的访问控制也适用于该服务的每个容器." position="bottom" style="margin-left: 2px;"></portainer-tooltip>
              </td>
            </tr>
            <tr ng-if="$ctrl.resourceControl.Type === 1 && $ctrl.resourceType === 'volume'">
              <td colspan="2">
                <i class="fa fa-info-circle" aria-hidden="true" style="margin-right: 2px;"></i>
                此资源的访问控制是从以下容器继承的: <a ui-sref="container({ id: $ctrl.resourceControl.ResourceId })">{{ $ctrl.resourceControl.ResourceId | truncate }}</a>
                <portainer-tooltip message="应用于使用模板创建的容器上的访问控制也适用于与容器相关联的每个卷." position="bottom" style="margin-left: 2px;"></portainer-tooltip>
              </td>
            </tr>
            <!-- authorized-users -->
            <tr ng-if="$ctrl.resourceControl.UserAccesses.length > 0">
              <td>授权用户</td>
              <td>
                <span ng-repeat="user in $ctrl.authorizedUsers">{{user.Username}}{{$last ? '' : ', '}} </span>
              </td>
            </tr>
            <!-- !authorized-users -->
            <!-- authorized-teams -->
            <tr ng-if="$ctrl.resourceControl.TeamAccesses.length > 0">
              <td>授权团队</td>
              <td>
                <span ng-repeat="team in $ctrl.authorizedTeams">{{team.Name}}{{$last ? '' : ', '}} </span>
              </td>
            </tr>
            <!-- !authorized-teams -->
            <!-- edit-ownership -->
            <tr ng-if="!($ctrl.resourceControl.Type === 1 && $ctrl.resourceType === 'volume') && !($ctrl.resourceControl.Type === 2 && $ctrl.resourceType === 'container') && !$ctrl.state.editOwnership && ($ctrl.isAdmin || $ctrl.state.canEditOwnership)">
              <td colspan="2">
                <a class="btn-outline-secondary" ng-click="$ctrl.state.editOwnership = true"><i class="fa fa-edit space-right" aria-hidden="true"></i>更改所有者身份</a>
              </td>
            </tr>
            <!-- !edit-ownership -->
            <!-- edit-ownership-choices -->
            <tr ng-if="$ctrl.state.editOwnership">
              <td colspan="2">
                <div class="boxselector_wrapper">
                  <div ng-if="$ctrl.isAdmin">
                    <input type="radio" id="access_administrators" ng-model="$ctrl.formValues.Ownership" value="administrators">
                    <label for="access_administrators">
                      <div class="boxselector_header">
                        <i ng-class="'administrators' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        Administrators
                      </div>
                      <p>我想将此资源的管理仅限于管理员。</p>
                    </label>
                  </div>
                  <div ng-if="$ctrl.isAdmin">
                    <input type="radio" id="access_restricted" ng-model="$ctrl.formValues.Ownership" value="restricted">
                    <label for="access_restricted">
                      <div class="boxselector_header">
                        <i ng-class="'restricted' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        Restricted
                      </div>
                      <p>
                        我想限制这一资源管理一组用户和/或团队
                      </p>
                    </label>
                  </div>
                  <div ng-if="!$ctrl.isAdmin && $ctrl.state.canChangeOwnershipToTeam && $ctrl.availableTeams.length > 0">
                    <input type="radio" id="access_restricted" ng-model="$ctrl.formValues.Ownership" value="restricted">
                    <label for="access_restricted">
                      <div class="boxselector_header">
                        <i ng-class="'restricted' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        Restricted
                      </div>
                      <p ng-if="$ctrl.availableTeams.length === 1">
                        我希望我的团队成员(<b>{{ $ctrl.availableTeams[0].Name }}</b>) 能够管理此资源
                      </p>
                      <p ng-if="$ctrl.availableTeams.length > 1">
                        我想把这个资源的管理限制到我的一个或多个团队。
                      </p>
                    </label>
                  </div>
                  <div>
                    <input type="radio" id="access_public" ng-model="$ctrl.formValues.Ownership" value="public">
                    <label for="access_public">
                      <div class="boxselector_header">
                        <i ng-class="'public' | ownershipicon" aria-hidden="true" style="margin-right: 2px;"></i>
                        Public
                      </div>
                      <p>我希望任何能够访问此端点的用户都能够管理此资源。</p>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <!-- edit-ownership-choices -->
            <!-- select-teams -->
            <tr ng-if="$ctrl.state.editOwnership && $ctrl.formValues.Ownership === 'restricted' && ($ctrl.isAdmin || !$ctrl.isAdmin && $ctrl.availableTeams.length > 1)">
              <td colspan="2">
                <span>团队</span>
                <span ng-if="$ctrl.isAdmin && $ctrl.availableTeams.length === 0" class="small text-muted" style="margin-left: 10px;">
                 你还没有创建任何团队. 进入 <a ui-sref="teams">团队视图</a>管理用户团队.
                </span>
                <span isteven-multi-select
                  ng-if="($ctrl.isAdmin && $ctrl.availableTeams.length > 0) || (!$ctrl.isAdmin && $ctrl.availableTeams.length > 1)"
                  input-model="$ctrl.availableTeams"
                  output-model="$ctrl.formValues.Ownership_Teams"
                  button-label="Name"
                  item-label="Name"
                  tick-property="selected"
                  helper-elements="filter"
                  search-property="Name"
                  max-labels="3"
                  translation="{nothingSelected: 'Select one or more teams', search: 'Search...'}">
                </span>
              </td>
            </tr>
            <!-- !select-teams -->
            <!-- select-users -->
            <tr ng-if="$ctrl.isAdmin && $ctrl.state.editOwnership && $ctrl.formValues.Ownership === 'restricted'">
              <td colspan="2">
                <span>用户</span>
                <span ng-if="$ctrl.availableUsers.length === 0" class="small text-muted" style="margin-left: 10px;">
                  还没有创建任何用户. 进入 <a ui-sref="users">用户视图</a>管理用户.
                </span>
                <span isteven-multi-select
                  ng-if="$ctrl.availableUsers.length > 0"
                  input-model="$ctrl.availableUsers"
                  output-model="$ctrl.formValues.Ownership_Users"
                  button-label="Username"
                  item-label="Username"
                  tick-property="selected"
                  helper-elements="filter"
                  search-property="Username"
                  max-labels="3"
                  translation="{nothingSelected: 'Select one or more users', search: 'Search...'}">
                </span>
              </td>
            </tr>
            <!-- !select-users -->
            <!-- ownership-actions -->
            <tr ng-if="$ctrl.state.editOwnership">
              <td colspan="2">
                <div>
                  <a type="button" class="btn btn-default btn-sm" ng-click="$ctrl.state.editOwnership = false">取消</a>
                  <a type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.confirmUpdateOwnership()">更新所有者身份</a>
                  <span class="text-danger" ng-if="$ctrl.state.formValidationError" style="margin-left: 5px;">{{ $ctrl.state.formValidationError }}</span>
                </div>
              </td>
            </tr>
            <!-- !ownership-actions -->
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
