<div class="page-wrapper">
  <!-- simple box -->
  <div class="container simple-box">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <!-- simple box logo -->
      <div class="row">
        <img ng-if="logo" ng-src="{{ logo }}" class="simple-box-logo">
        <img ng-if="!logo" src="images/logo_alt.png" class="simple-box-logo" alt="Portainer">
      </div>
      <!-- !simple box logo -->
      <!-- init-endpoint panel -->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- init-endpoint form -->
          <form class="simple-box-form form-horizontal">
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small text-muted">
                  将Portainer连接到要管理的Docker环境
                </span>
              </div>
            </div>
            <!-- !note -->
            <!-- endpoint-type -->
            <div class="form-group" style="margin-bottom: 0">
              <div class="boxselector_wrapper">
                <div>
                  <input type="radio" id="local_endpoint" ng-model="formValues.EndpointType" value="local">
                  <label for="local_endpoint">
                    <div class="boxselector_header">
                      <i class="fa fa-bolt" aria-hidden="true" style="margin-right: 2px;"></i>
                      本地
                    </div>
                    <p>管理Portainer运行的Docker环境</p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="remote_endpoint" ng-model="formValues.EndpointType" value="remote">
                  <label for="remote_endpoint">
                    <div class="boxselector_header">
                      <i class="fa fa-plug" aria-hidden="true" style="margin-right: 2px;"></i>
                      远程
                    </div>
                    <p>管理远程Docker环境</p>
                  </label>
                </div>
              </div>
            </div>
            <!-- !endpoint-type  -->
            <!-- local-endpoint -->
            <div ng-if="formValues.EndpointType === 'local'">
              <div class="form-group">
                <div class="col-sm-12">
                  <span class="small">
                    <p class="text-muted">
                      <i class="fa fa-exclamation-triangle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                      此功能尚不可用 <u>本机Docker Windows容器</u>.
                    </p>
                    <p class="text-primary">
                      请确保您已经启动了具有以下Docker标志的Portainer容器 <code>-v "/var/run/docker.sock:/var/run/docker.sock"</code> 以便连接到本地的Docker环境.
                    </p>
                  </span>
                </div>
              </div>
              <!-- actions -->
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary btn-sm" ng-click="createLocalEndpoint()"><i class="fa fa-bolt" aria-hidden="true"></i> 连接</button>
                  <i id="createResourceSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
                </div>
              </div>
              <!-- !actions -->
            </div>
            <!-- !local-endpoint -->
            <!-- remote-endpoint -->
            <div ng-if="formValues.EndpointType === 'remote'">
              <!-- name-input -->
              <div class="form-group">
                <label for="endpoint_name" class="col-sm-4 col-lg-3 control-label text-left">名称</label>
                <div class="col-sm-8 col-lg-9">
                  <input type="text" class="form-control" id="endpoint_name" ng-model="formValues.Name" placeholder="e.g. docker-prod01">
                </div>
              </div>
              <!-- !name-input -->
              <!-- endpoint-url-input -->
              <div class="form-group">
                <label for="endpoint_url" class="col-sm-4 col-lg-3 control-label text-left">
                    端点网址URL
                  <portainer-tooltip position="bottom" message="Docker主机的URL或IP地址. Docker API必须通过TCP端口进行暴露. 请参考Docker文档进行配置."></portainer-tooltip>
                </label>
                <div class="col-sm-8 col-lg-9">
                  <input type="text" class="form-control" id="endpoint_url" ng-model="formValues.URL" placeholder="e.g. 10.0.0.10:2375 or mydocker.mydomain.com:2375">
                </div>
              </div>
              <!-- !endpoint-url-input -->
              <!-- tls-checkbox -->
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="tls" class="control-label text-left">
                    TLS
                    <portainer-tooltip position="bottom" message="如果需要指定连接到Docker端点的TLS证书，请启用此选项."></portainer-tooltip>
                  </label>
                  <label class="switch" style="margin-left: 20px;">
                    <input type="checkbox" ng-model="formValues.TLS"><i></i>
                  </label>
                </div>
              </div>
              <!-- !tls-checkbox -->
              <!-- tls-certs -->
              <div ng-if="formValues.TLS">
                <!-- ca-input -->
                <div class="form-group">
                  <label class="col-sm-3 control-label text-left">TLS CA 证书</label>
                  <div class="col-sm-9">
                    <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSCACert">选择文件</button>
                    <span style="margin-left: 5px;">
                      {{ formValues.TLSCACert.name }}
                      <i class="fa fa-times red-icon" ng-if="!formValues.TLSCACert" aria-hidden="true"></i>
                      <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                    </span>
                  </div>
                </div>
                <!-- !ca-input -->
                <!-- cert-input -->
                <div class="form-group">
                  <label for="tls_cert" class="col-sm-3 control-label text-left">TLS 证书</label>
                  <div class="col-sm-9">
                    <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSCert">选择文件</button>
                    <span style="margin-left: 5px;">
                      {{ formValues.TLSCert.name }}
                      <i class="fa fa-times red-icon" ng-if="!formValues.TLSCert" aria-hidden="true"></i>
                      <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                    </span>
                  </div>
                </div>
                <!-- !cert-input -->
                <!-- key-input -->
                <div class="form-group">
                  <label class="col-sm-3 control-label text-left">TLS key</label>
                  <div class="col-sm-9">
                    <button class="btn btn-sm btn-primary" ngf-select ng-model="formValues.TLSKey">选择文件</button>
                    <span style="margin-left: 5px;">
                      {{ formValues.TLSKey.name }}
                      <i class="fa fa-times red-icon" ng-if="!formValues.TLSKey" aria-hidden="true"></i>
                      <i class="fa fa-circle-o-notch fa-spin" ng-if="state.uploadInProgress"></i>
                    </span>
                  </div>
                </div>
                <!-- !key-input -->
              </div>
              <!-- !tls-certs -->
              <!-- actions -->
              <div class="form-group">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!formValues.Name || !formValues.URL || (formValues.TLS && (!formValues.TLSCACert || !formValues.TLSCert || !formValues.TLSKey))" ng-click="createRemoteEndpoint()"><i class="fa fa-plug" aria-hidden="true"></i> 连接</button>
                  <i id="createResourceSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
                </div>
              </div>
              <!-- !actions -->
            </div>
            <!-- !remote-endpoint -->
          </form>
          <!-- !init-endpoint form -->
        </div>
      </div>
      <!-- !init-endpoint panel -->
    </div>
  </div>
  <!-- !simple box -->
</div>
