<rd-header>
  <rd-header-title title="端点访问">
    <i id="loadingViewSpinner" class="fa fa-cog fa-spin"></i>
  </rd-header-title>
  <rd-header-content>
    <a ui-sref="endpoints">端点</a> &gt; <a ui-sref="endpoint({id: endpoint.Id})">{{ endpoint.Name }}</a> &gt; 访问管理
  </rd-header-content>
</rd-header>

<div class="row" ng-if="endpoint">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-plug" title="端点"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>名称</td>
              <td>
                {{ endpoint.Name }}
              </td>
            </tr>
            <tr>
              <td>URL</td>
              <td>
                {{ endpoint.URL | stripprotocol }}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="small text-muted">
                  可以选择哪一个用户或团队通过将其移动到授权访问表来访问此端点。只要单击用户或团队条目，就可以将它从一个表移动到另一个表。
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<por-access-management ng-if="endpoint" access-controlled-entity="endpoint" update-access="updateAccess(userAccesses, teamAccesses)">
</por-access-management>
