<rd-header>
  <rd-header-title title="创建网络"></rd-header-title>
  <rd-header-content>
    <a ui-sref="networks">网络</a> &gt; 添加网络
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- name-input -->
          <div class="form-group">
            <label for="network_name" class="col-sm-1 control-label text-left">名称</label>
            <div class="col-sm-11">
              <input type="text" class="form-control" ng-model="config.Name" id="network_name" placeholder="e.g. myNetwork">
            </div>
          </div>
          <!-- !name-input -->
          <div class="col-sm-12 form-section-title">
            Network 配置
          </div>
          <!-- subnet-gateway-inputs -->
          <div class="form-group">
            <label for="network_subnet" class="col-sm-2 col-lg-1 control-label text-left">子网</label>
            <div class="col-sm-4 col-lg-5">
              <input type="text" class="form-control" ng-model="formValues.Subnet" id="network_subnet" placeholder="e.g. 172.20.0.0/16">
            </div>
            <label for="network_gateway" class="col-sm-2 col-lg-1 control-label text-left">网关</label>
            <div class="col-sm-4 col-lg-5">
              <input type="text" class="form-control" ng-model="formValues.Gateway" id="network_gateway" placeholder="e.g. 172.20.10.11">
            </div>
          </div>
          <!-- !subnet-gateway-inputs -->
          <div class="col-sm-12 form-section-title">
            Driver 配置
          </div>
          <!-- driver-input -->
          <div class="form-group">
            <label for="network_driver" class="col-sm-2 col-lg-1 control-label text-left">驱动</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="config.Driver" id="network_driver" placeholder="e.g. driverName">
            </div>
          </div>
          <!-- !driver-input -->
          <!-- driver-options -->
          <div class="form-group">
            <div class="col-sm-12" style="margin-top: 5px;">
              <label class="control-label text-left">
                驱动器选项
                <portainer-tooltip position="bottom" message="驱动程序选项是特定于所选驱动程序.请参阅选择驱动程序文件."></portainer-tooltip>
              </label>
              <span class="label label-default interactive" style="margin-left: 10px;" ng-click="addDriverOption()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> 添加驱动程序选项
              </span>
            </div>
            <!-- driver-options-input-list -->
            <div class="col-sm-12 form-inline" style="margin-top: 10px;">
              <div ng-repeat="option in formValues.DriverOptions" style="margin-top: 2px;">
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">名称</span>
                  <input type="text" class="form-control" ng-model="option.name" placeholder="e.g. com.docker.network.bridge.enable_icc">
                </div>
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">值</span>
                  <input type="text" class="form-control" ng-model="option.value" placeholder="e.g. true">
                </div>
                <button class="btn btn-sm btn-danger" type="button" ng-click="removeDriverOption($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- !driver-options-input-list -->
          </div>
          <!-- !driver-options -->
          <div class="col-sm-12 form-section-title">
            高级配置
          </div>
          <!-- labels -->
          <div class="form-group">
            <div class="col-sm-12" style="margin-top: 5px;">
              <label class="control-label text-left">标签</label>
              <span class="label label-default interactive" style="margin-left: 10px;" ng-click="addLabel()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> 添加标签
              </span>
            </div>
            <!-- labels-input-list -->
            <div class="col-sm-12 form-inline" style="margin-top: 10px;">
              <div ng-repeat="label in formValues.Labels" style="margin-top: 2px;">
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">名称</span>
                  <input type="text" class="form-control" ng-model="label.key" placeholder="e.g. com.example.foo">
                </div>
                <div class="input-group col-sm-5 input-group-sm">
                  <span class="input-group-addon">值</span>
                  <input type="text" class="form-control" ng-model="label.value" placeholder="e.g. bar">
                </div>
                <button class="btn btn-sm btn-danger" type="button" ng-click="removeLabel($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <!-- !labels-input-list -->
          </div>
          <!-- !labels-->
          <!-- internal -->
          <div class="form-group">
            <div class="col-sm-12">
              <label for="ownership" class="control-label text-left">
                限制对网络的外部访问
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" ng-model="config.Internal"><i></i>
              </label>
            </div>
          </div>
          <!-- !internal -->
          <!-- actions -->
          <div class="col-sm-12 form-section-title">
            操作
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="!config.Name" ng-click="create()">创建网络</button>
              <a type="button" class="btn btn-default btn-sm" ui-sref="networks">取消</a>
              <i id="createNetworkSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
